NEXT_PUBLIC_MOCK_POSTMAN_API=https://77f4c4e5-4e66-4e24-83da-afd0f79e584a.mock.pstmn.io
NEXT_PUBLIC_MOCK_APIARY_API=https://private-264d7-spotify7.apiary-mock.com
AUTH_SECRET=jKHYC2QWCsJ9TfT60LN3E1/DLJZIKA9Zq/qk3PP8nHI